* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}
body{
    background-color: #E9EEF6;
}
.container {
    max-width: 1700px;
    margin: 0 auto;
    
}

/* navbar */

nav {
    background-color:#232A2F; 
}
.nav-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 70px;
    position: relative;
    justify-content: space-between;
}
.menu {
    display: flex;
    list-style: none;
    /* margin-left: 20px;  */

}
.menu li {
    margin-right: 1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    left: auto;
    
}
.menu li a:hover {
    color: #40A578;
}

.menu li a{
    color: #fff;
    text-decoration: none;
}
.search{
    
    padding: 0 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.search input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 300px;
    background-color: #bdbcf236;
    border-radius: 25px;
    color: #ffffff;
    margin: 0 5px;
    height: 35px;
}
.search button{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: none;
    background-color: #40A578;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search button:hover {
    background-color: #2a674c;
}

.search button i{
    font-size: 1rem;
}
.login{
    
    padding: 0 1rem;
}
.login button{
    width: 120px ;
    height: 35px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #40A578;
    border-radius: 15px;
}
.login button:hover {
    background-color: #2a674c;
}




/* ham menu */
  .ham-menu {
    display: inline-block;
    cursor: pointer;
    position:absolute;
    right: 1rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }




/* header */




header {
    width: 100%;
    height: 800px;
    border-bottom-left-radius: 90px;
    background-image: url('pic/bg-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header-topic {
    width: 1700px;
    height: 450px;
    padding: 20px 300px;
}
.header-info{
    width: 550px;
    height: auto;
}
.header-info h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 30px;
    color: #fff;
}
.header-info p{
    font-size: 1.27rem;
    color: #979797;
}
.info-bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    padding: 30px 0px;
    
}
.header-info .info-bt .get-start button{
    width: 250px;
    height: 68px;
    border-radius: 35px;
    border: none;
    background-color: #40A578;
    cursor: pointer;
}
.header-info .info-bt .get-start button:hover{
    background-color: #2a674c;
}
.header-info .info-bt .read-more button{
    width: 250px;
    height: 68px;
    border-radius: 35px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.header-info .info-bt .read-more button:hover{
    background-color: #d8d8d8;
}

.header-info .info-bt .get-start button p{
    color: #fff;
    padding: 10px;
}
.header-info .info-bt .read-more button p{
    color: #40A578;
    padding: 10px;
}
.header-info .info-bt .read-more button{
    width: 250px;
    height: 68px;
    border-radius: 35px;
    border: none;
}


.header-buttom{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-topic{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    
}
.box-topic a:hover{
    color: #2a674c;
}

.box-topic a {
    color: #40A578;
    font-size: 1rem;
    padding: 20px 0;
    text-decoration: none;
}
.bt-down{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.bt-down a{
    text-decoration: none;
}
.down-bottom{
    width: 60px;
    height: 60px;
    background-color: #40A578;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 50px;
}
.down-bottom i{
    color: #222;
}

.down-bottom:hover {
    background-color: #2a674c;
}


.checkbox-wrapper-1 *,
  .checkbox-wrapper-1 ::after,
  .checkbox-wrapper-1 ::before {
    box-sizing: border-box;

  }
  .checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
    background-color: #40A578;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
    background-color: #40A578;
    color: rgba(0, 0, 0, 0.275);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
    opacity: 0.5;
  }

  .checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted + label {
    -webkit-user-select: none;
    user-select: none;
  }

.checkmark{
    width: 390px;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
    
}
.checkmark p{
    font-size: 0.8rem;
    color: #979797;
}
.checkmark a{
    font-size: 0.8rem;
    color: #40A578;
    margin: 0 5px;
    font-weight: 400;
    text-decoration: none;
    text-decoration-line: underline;
}


/* main-info-top */



.main-top{
    width: 100%;
    height: 460px;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0 215px;
}
.profile-ex {
    width: 410px;
    height: 460px;
    border-radius: 20px;
    background-image: url('pic/profile-ex.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.verify-info {
    width: 740px;
    height: 460px;
    border-radius: 20px;
    padding: 110px;
    background-color: #fff;
}
.verify-info h1{
    font-size: 2.5rem;
    margin-bottom: 25px;
}
.verify-info p{
    color: #757575;
}



/* main info bottom */


.main-bottom-box{
    padding: 0 215px;
}
.main-bottom{
    width: 100%;
    height: 100%;
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
}
.started-info{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.started-info h1{
    font-size: 2.5rem;
}
.started-info p{
    margin: 10px 0;
    color: #757575;
}
.started-info button{
    margin-top: 20px;
    width: 248px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #40A578;
}
.started-info button:hover{
    background-color: #2a674c;
}
.started-info button p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.box-pic-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    padding-bottom: 80px;
    padding-top: 60px;
    
}
.box-Eco-friendly-info{
    border: 2px solid #006769;
    border-radius: 15px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-Eco-friendly-info p{
    padding-left: 40px;
    width: 350px;
    color: #757575;
}
.box-our-designer{
    border: 2px solid #006769;
    border-radius: 15px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-our-designer p{
    padding-left: 40px;
    width: 350px;
    color: #757575;
}

/* footer */

footer{
    width: 100%;
    height: 100%;
    background-color: #283136;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer-topic{
    
    padding: 50px 20px;
    display: flex;
}
.box-footer-company{
    margin-right: 150px;
    
    list-style: none;
}
.box-footer-company p{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-footer-company li a{
    color: #40A578;
    text-decoration: none;
}
.box-footer-wedo{
    
    list-style: none;
}
.box-footer-wedo p{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-footer-wedo li a{
    color: #40A578;
    text-decoration: none;
    
}
.box-footer-wedo li a:hover,.box-footer-company li a:hover{
    color: #2a674c;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.copyright p{
    color: #979797;
}

/* Full-width input fields */
input[type=text], input[type=password] ,input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    }

    /* Set a style for all buttons */
.container-form button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    }

    button:hover {
    opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
    text-align: center;
    margin: 50px 0 12px 0;
    position: relative;

    }

    .header-dis{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-dis h1{
        margin-top: 20px;
        position: relative;
        font-size: 0.7rem;
        width: 60%;
        font-weight: 300;
        color: #8f8f8f;
        text-align: center;
        
    }
    .container-form {
        padding: 10px 130px;
    }
    .container-form h4{
        color: #04AA6D;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .text-or p{
        color: #757575;
        font-weight: 700;
        padding: 20px 0;
    }
    .text-or {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span.psw {
    float: right;
    padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* padding-top: 60px; */
    
    }

    /* Modal Content/Box */
    .modal-content {
    background-color: #232A2F;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    border-radius: 30px;
    }

    /* The Close Button (x) */
    .close {
    position: absolute;
    right: 65px;
    top: 0;
    color: #8a8a8a;
    font-size: 35px;
    font-weight: bold;

    }

    .close:hover,
    .close:focus {
    color: #04AA6D;
    cursor: pointer;
    }

    .have-account{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .have-account a{
        text-decoration: underline 1px solid #40A578;
        color: #40A578;
        padding: 10px 0;
        margin-top: 10px;
        font-size: 0.9rem;
        font-weight: 600;
    }
    .have-account a:hover{
        color: #2a674c;
    }

    .signup{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        
    }
    .signup a{
        color: #8f8f8f;
        font-size: 0.8rem;
        text-decoration: none;
    }
    .signup a:hover,.signup a:focus{
        color: #04AA6D;
    }


    .signin-with {
        margin-bottom: 80px;
    }
    .signin-with button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        margin-bottom: 15px;
        padding: 10px 120px;
    }
    .signin-with button p{
        color: #232A2F;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .signin-with button i{
        font-size: 1rem;
        padding-right: 10px;
        color: #232A2F;
    }

    /* Add Zoom Animation */
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }

/* responsive screen */

@media screen and (max-width: 1640px) {

    /* main bottom */
    .main-bottom-box {
        padding: 0 20px;
    }
    .main-bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .started-info{
        width: 100%;
    }
    .started-info h1{
        margin-bottom: 20px;
        line-height: 1.2;
        text-align: center;
    }
    .box-pic-info {
        padding: 0;
        padding: 50px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;


    }

    
    .box-Eco-friendly-info{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px 55px 0;
        width: 100%;
    }
    .box-Eco-friendly-info p{
        
        padding: 30px 10px;
        text-align: center;
    }
    .box-our-designer{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
    }
    .box-our-designer p{    
        padding: 30px 10px;
        text-align: center;
    }


}


@media only screen and (min-width: 1024px) {
    .ham-menu {
        display: none;
    }
}

@media only screen and (max-width: 1550px) {

    /* header */


    header {
        border-bottom-left-radius:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding-top: 100px;
        border-bottom-left-radius: 80px;
    }

    .header-topic, .header-info,.info-bt {
        width: 100%;
    }
    .info-bt {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

    }
    .header-info .info-bt .get-start button{
        margin: 0;
        margin-right: 10px;
    }
    .header-topic {
        padding: 0px 50px;
        height: 100%;
    }
    .get-start {
        margin-bottom: 20px;
    }

    .header-buttom{
        display: flex;
        padding: 100px 20px 50px 20px;
    }
    .box-topic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 120px;
        margin: 0 0px;
    }
    .bt-down{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
    }

    /* main-top */

    .main-top{
        display: flex;
        justify-content: center;
        align-items: space ;
        justify-content: space-between;
        gap: 20px;
        padding: 0 20px;
        
    }
    .profile-ex {

        height: 460px;
        padding: 30px;
    }

    .verify-info {
        width: 80%;
        height: 100%;
        border-radius: 20px;
        padding: 0;
        padding: 50px 70px;
        background-color: #fff;
    }

    /* main bottom */
    .main-bottom-box {
        padding: 0 20px;
    }
    .main-bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .started-info{
        width: 100%;
    }
    .started-info h1{
        margin-bottom: 20px;
        line-height: 1.2;
        text-align: center;
    }
    .box-pic-info {
        padding: 0;
        padding: 50px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .box-Eco-friendly-info{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px 55px 0;
        width: 100%;
    }
    .box-Eco-friendly-info p{
        
        padding: 30px 10px;
        text-align: center;
    }
    .box-our-designer{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
    }
    .box-our-designer p{    
        padding: 30px 10px;
        text-align: center;
    }


    /* footer */

    .footer-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 10px;
    }


}

@media screen and (max-width: 1669px) {
    .container-form{
        padding: 10px 50px;

    }
}
@media screen and (max-width: 1430px) {
    .text-or{
        display: none;
    }
    .modal-content{
        width: 60%;
    }
}

    /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1024px) {

    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    .signin-with button{
        padding: 10px 80px;
    }
    .container-form{
        padding: 10px 10px;

    }
    .modal-content{
        width: 85%;
    }
    .close{
        right: 20px;
        font-size: 45px;

    }
    .text-or{
        display: none;
    }
    .signup a{
        padding: 5px 5px;
    }


    /* ***nav*** */


    .menu {
        display: none;
    }
    .nav-wrapper{
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-active {
        display: block !important;
    }
    .menu {
        width: 100%;
    }
    .menu li{
        margin:0; 
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        padding: 0 0.5rem;
        cursor: pointer;
        transition: 0.3s;    
    }
    .menu li:hover{
        background-color: #40A578;
        
    }
    .menu li a:hover{
        color: #fff;
    }
    .search{
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }
    .search input[type=text] {
        width: 100%;
        padding: 0;
    }
    .login{    
        padding: 0 0.3rem ;
        margin-bottom: 1rem;
    }
    .login button{
        width: 100% ;
        height: 35px;
        border: none;
        font-weight: 700;
        font-size: 1rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #40A578;
        border-radius: 15px;
    }
    .search button{
        height: 35px;
        width: 37px;
        border-radius: 20px;
        border: none;
        background-color: #40A578;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
@media screen and (max-width: 860px) {
    /* header */


    header {
        border-bottom-left-radius:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding-top: 0;
        border-bottom-left-radius: 80px;
            
    }
    
    
    .header_form, .header_form form, .header_form form input{
        width: 100%;
    }
    .header-topic, .header-info,.info-bt {
        width: 100%;
    }
    .info-bt {
        display: flex;
        flex-direction: column;
    }
    .header-topic {
        padding: 0;
        padding: 0px 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }
    .get-start {
       margin-bottom: 20px;
    }
        

    .bt-down{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
    }
    
    .header_form{
        margin-bottom: 50px;
    }
    .header-info{
        margin-bottom: 50px;
        padding: 0 10px;
    }
    
    /* main-top */
    
    .main-top{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            
    }
        
    .verify-info {
        margin-top: 40px;
        width: 400px;
        height: 100%;
        border-radius: 20px;
        padding: 0;
        padding: 50px 30px;
        background-color: #fff;
    }
    .profile-ex{
        width: 400px;
    }
    
    /* main bottom */
 
    .main-bottom-box {
        padding: 0 10px;
    }
    .main-bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .started-info{
       width: 100%;
    }
    .started-info h1{
        margin-bottom: 20px;
        line-height: 1.2;
        text-align: center;
    }
    .box-pic-info {  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
        
    .box-Eco-friendly-info{
       display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
        margin-bottom: 40px;
    }
    .box-Eco-friendly-info p{
        width: 100%;
        padding: 30px 10px;
        text-align: center;
    }
    .box-our-designer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
    }
    .box-our-designer p{ 
        width: 100%;  
        padding: 30px 10px;
        text-align: center; 
    }
    
}
@media screen and (max-width: 600px){
    .header-buttom{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 100px;
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .box-topic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: auto;
        padding: 20px 10px;
        border-radius: 30px;
    }
    .box-topic p{
       height: auto;
    }
}

/* *************************** Profile_page ****************************** */

/* menubar */

.body-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.sidenav{
    width: 460px;
    height: 2100px;
    background-color: #2C353A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.sidenav h1{
    padding: 70px 0 10px 0;
    color: #40A578;
    font-size: 1.8rem;
    
}
.sidenav p{
    color: #8a8a8a;
    font-size: 0.9rem;
    padding: 10px 0 30px 0;
}
.box-profile-edit{
    width: 100%;
    height: auto;
}
.sidenav .box-profile-edit a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
    padding: 20px 120px 20px 120px;
    text-align: start;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidenav .box-profile-edit .profile{
    background-color: #006769;
}
.sidenav .box-profile-edit .edit{
    background-color: #006769;
}
.sidenav .box-profile-edit a i{
    color: #40A578;
}
.sidenav .box-profile-edit a:hover {
    background-color: #006769;
}
.profile-container{
    background-image: url('pic/bg-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 2100px;
}


/* box-profile */

.profile-container {
    padding: 70px 70px 70px 70px;

}
.profile-container h1{
    font-size: 2rem;
    color: #40A578;
    margin-bottom: 10px;
}
.profile-container p{
    color: #8a8a8a;
    margin-bottom: 40px;
}
.form-profile{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 80px;
}
.profile-pic{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.name-user{
    display: flex;
    justify-content: center;
}
.name-user h3{
    color: #757575;
    padding: 40px 0 20px 0;
}
.name-user h3 i{
    margin-left: 10px;
}
.form-name{
    width: 100%;
    padding: 0 150px 100px 150px;
}
.form-first-name{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;  
    gap: 50px; 
}
.input-fist-name p,.form-tel p{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #757575;
    font-weight: 600;
}
.input-fist-name{
    width: 100%;
}
.input-fist-name input{
    width: 100%;
    border: 1px solid #444;
}
.form-tel{
    padding: 20px 0 0 0;
}
.form-tel textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    resize: none;
}
.form-tel button{
    width: 170px;
    height: 50px;
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    background-color: #40A578;
}
.form-tel button:hover{
    background-color: #04AA6D;
}


.form-account{
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 70px 150px 70px 150px;
}
.form-account-box{
    height: auto;
    width: auto;
    padding: 30px 50px ;
    border: 2px solid #444;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.form-account-box h3,.form-account-box p{
    padding: 0;
    margin: 0;
}
.form-account-box h3{
    color: #404040;
}
.form-account-box p{
    color: #757575;
}
.form-account-info p{
    color: #757575;
    padding: 40px 0 0 0;
    font-size: 1rem;
}
.form-account-email {
    height: auto;
    width: auto;
    padding: 30px 50px ;
    border: 2px solid #444;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.form-account-email p{
    padding: 0;
    margin: 0;
}
.form-account-email i{
    font-size: 1.5rem;
    margin-right: 20px;
}
.form-account-psw {
    margin-top: 20px;
    height: auto;
    width: auto;
    padding: 30px 50px ;
    border: 2px solid #444;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.form-account-psw p{
    padding: 0;
    margin: 0;
}
.form-account-psw i{
    font-size: 1.5rem;
    margin-right: 20px;
}
.form-account button{
    width: 170px;
    height: 50px;
    margin: 40px 0 0 0;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    background-color: #40A578;
}
.form-account button:hover{
    background-color: #04AA6D;
}

.sidenav .closebtn {
    display: none;
  }
.profile-container span{
    display: none;
}


@media screen and (max-width: 1360px) {
    .form-name{
        padding: 0 50px 100px 50px;;
    }
    .profile-container {
        padding: 20px 50px 70px 50px;
    }
    .form-account {
        padding: 70px 50px 70px 50px;
    }
    .form-first-name {
        gap: 30px;
    }
} 
@media screen and (max-width: 900px) {
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #2C353A;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .profile-container span{
        color: #40A578;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 30px;
      }
      


        .form-name{
            padding: 0 20px 100px 20px;;
        }
        .profile-container {
            padding: 20px 20px 70px 20px;
        }
        .form-account {
            padding: 70px 20px 70px 20px;
        }
        .form-first-name {
            gap: 30px;
        }
  }


/* ********************************** edit resume ********************************* */


.resume-profile-pic {
    display: flex;
    width: 100%;
    padding: 50px 150px;
}
.resume-profile-pic img{
    width: 120px;
    height: 120px;
    margin-right: 50px;
}
.user-info p,.user-info h1,.user-info h3{
    padding: 0;
    margin: 0;
}
.user-info h1{
    font-size: 1.5rem;
}
.user-info h3{
    font-style: oblique;
    text-decoration-line: underline;
    color: #555555;
    margin: 5px 0;
}
.user-info p{
    font-size: 0.9rem;
    width: 700px;
}
.box-ability{
    display: flex;
    padding: 0px 150px;
    
}
p.ability-green {
    background-color: #40A578;
    border-radius: 30px;
    padding: 10px 25px;
    color: #fff;
    font-size: 1rem;
    margin-right: 20px;
}
p.ability-white {
    background-color: #EEF0FF;
    border-radius: 30px;
    padding: 10px 25px;
    color: #40A578;
    font-size: 1rem;
    margin-right: 20px;
}
a.ability-plus {
    background-color: #40A578;
    width: 45px;
    height: 45px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
a.ability-plus:hover{
    background-color: #2a674c;
}
a.ability-plus i{
    color: #fff;
    font-size: 1.4rem;
}


.collection-container{
    display: flex;
    align-items: center;
    padding: 20px 150px 20px 150px;
}
a.collection-box{
    
    text-decoration: none;
    height: 50px;
    width: 160px;
    display: grid;
    align-items: center;
    justify-content: space-between;
}
a.collection-box p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
}
.line-box{
    width: 150px;
    height: 5px;
    background-color: #40A578;
    margin-top: 10px;
}
a.collection-box p:hover {
    color: #006769;
    font-weight: 600;
}
.verify-container-insert{
    padding: 50px 150px 100px 150px;
}
.verify-insert{
    border: 3px solid #D9D9D9;
    width: 200px;
    height: 250px;
    border-radius: 30px;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.verify-insert i{
    font-size: 2rem;
    color:#D9D9D9 ;
}
.form-resume-editpage{
    width: 100%;
    height: 1600px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 80px;
}
.form-resume{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1640px) {
    .resume-profile-pic {
        padding: 50px 50px;
    }
    .user-info p {
        width: 100%;
    }
    .box-ability {
        padding: 0px 50px;
    }
    .collection-container {
        padding: 20px 50px 20px 50px;
    }
    .verify-container-insert {
        padding: 50px 50px 100px 50px;
    }
    .verify-pf-container-insert{
        padding: 50px 50px 100px 50px;
    }
}

@media screen and (max-width: 1312px){
    p.ability-green {
        font-size: 0.8rem;
        margin-right: 5px;
    }
    p.ability-white {
        font-size: 0.8rem;
        margin-right: 5px;
    }
    a.ability-plus {
        width: 38px;
        height: 38px;
        border-radius: 19px;
    }
}
@media screen and (max-width: 1150px){
    .resume-profile-pic{
        padding: 50px 20px 50px 20px;
    }
    .box-ability{
        padding: 0 20px;
    }
    .collection-container{
        padding: 20px;
    }
}
@media screen and (max-width: 800px){
    .resume-profile-pic {
        display: grid;
    }
    .resume-profile-pic img {
        margin-bottom: 20px;
    }
    p.ability-green,p.ability-white {
        margin-right: 5px;
        margin-bottom: 10px;
        width: 100%;
    }
    a.ability-plus{
        margin-bottom: 50px ;
    }
    .box-ability{
        display: grid;
    }
    .collection-container{
        padding: 20px;
    }
    .verify-insert {

        width: 150px;
        height: 200px;

    }
}


/* ***************************profile-resume-page****************************** */
.profile-resume-container{
    padding: 70px 300px;

}
.setting-icon {
    margin-left: 200px;

}
.setting-icon i{
    font-size: 2.2rem;
    color: #555555;
}
.setting-icon i:hover{
    color: #40A578;
}
.collection-container{
    margin-top: 20px;
}
a.collection-box p{
    color: #555555;
}
.verify-pf-container-insert{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 150px 100px 150px;


}
.verify-collection img{
    width: 200px;
    opacity: 80%;
    filter: grayscale(100%);
}
.verify-collection p{
    margin-top: 20px;
    color: #9f9f9f;
}
.verify-collection h2{
    font-size: 1rem;
    color: #444;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

}
.verify-collection{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}
.pf-setting a{
    display: none;
}
.certificates-box-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.certi-box{
    border: 1px solid #757575;
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}
.certi-box h3{
    color: #404040;

}
.certi-box p{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.certi-icon{

    width: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.certi-icon a {
    text-decoration: none;
}
.certi-icon a i{
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    background: #e0e7ee;
    color: #006769;
}

/* ................................... */
.about-container{
    /* border: 1px solid red; */
    padding: 0px 150px;
    margin-top: 30px;
}
.about-box {
    background-color: #E9EEF6;
    border-radius: 10px;
    padding: 30px 50px;
}
.education-box{
    background-color: #E9EEF6;
    border-radius: 10px;
    padding: 30px 50px 40px 50px;

}
.education-box h3{
    color: #444;
}
.about-box h3{
    color: #444;
    margin-bottom: 5px;
}
.about-box p{
    color: #737373;
    font-size: 0.9rem;
}
.experience{
    margin-top: 20px;
}
.experience-topic{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
}
.experience-topic i{
    font-size: 2rem;
    color: #006769;
}
.experience-topic .info h4{
    color: #444;
}
.experience-topic .info li{
    color: #737373;
}
.experience-box{
    margin-bottom: 10px;
}
.edu-topic{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 20px;
}
.edu-topic i{
    font-size: 2rem;
    color: #006769;
}
.edu-topic p{
    color: #737373;
}
.seemore-box{

    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #40A578;
}
.seemore-box a{
    text-decoration: none;
    gap: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
}
.seemore-box a:hover{
    color: #bcbcbc;
}
.seemore-box a p{
    font-weight: 600;
    font-size: 1.1rem;
}
@media screen and (max-width: 1670px){
    .profile-resume-container{
        padding: 70px 150px;
    }
}
@media screen and (max-width: 1640px){
    .about-container{
        padding: 0px 50px;
    }
}
@media screen and (max-width: 1470px){
    .form-resume{
        height: 100%;
    }
    .verify-collection{
        margin-bottom: 50px;
    }
    .verify-pf-container-insert{
        padding: 20px 50px;
    }

}
@media screen and (max-width: 1050px){
    .setting-icon {
        margin-left: 60px;
    }
}
@media screen and (max-width: 1250px){
    .certi-icon {
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .profile-resume-container{
        padding: 50px 100px;
    }

}
@media screen and (max-width: 800px){
    .setting-icon {
        display: none;
    }
    .pf-setting{
        display: flex;
        justify-content: space-between;
    }
    .pf-setting a{
        display: flex;
        text-decoration: none;
        margin: 0;

    }
    .certificates-box-container {
        flex-direction: column;
    }
    .about-container{
        padding: 0px 20px;
    }
}
@media screen and (max-width: 630px){
    .profile-resume-container{
        padding: 70px 20px;
    }
}
@media screen and (max-width: 460px){
    .about-box{
        padding: 30px 15px;
    }
    .education-box{
        padding: 30px 15px;
    }
}